h1 {
	text-align: center;
}


.first-example-grid {
	background-color: #aaaaaa;
	border: 3px solid #000000;

}
.nav-item {

}
.placeholder-img {
	height: 200px;
	border: 1px solid black !important;
}

div {
	align-content: center;
}
.col{
	background-color: #cccccc;
	color:#000000;
	padding: 5px;
	margin: 3px;
	text-align: center;
}

.second-example-grid {
	background-color: #aaaa00;
	border: 3px solid #000000;
	
}

.second-example-cell {
	background-color: #cccc00;
	color:#000000;
	padding: 5px;
	margin: 3px;
	text-align: center;
}
}
.placeholder-img {
	width: 100px;
	height: 100px;
	margin: 0 20px 0 20px;
	background: #d6d6d8;
	border: 1px solid black !important;
}
.placeholder-img.large {
	width: 200px;
	height: 150px;
}
.center .placeholder-img {
	margin: 0 auto 20px auto;
}
.left {
	float: left;
}
.right {
	float: right;
}
.placeholder-img.right {
	margin-right: 0;
}
.placeholder-img.left {
	margin-left: 0;
}
.full-width {
	width: 100%;
}

section {
	clear: both;
}